
label{
    font-weight:400;
}

.wwFind{
    display: grid;
    grid-template-columns: 40% 40% ;
    /* grid-column-gap: 1em;
    grid-row-gap: 1em; 
        //same as bellow
     */
    grid-gap: 3px;
}
.wwFind > div {
    padding: 1em;
}
.wwFind > div:nth-child(odd){
}
.modal p{
    font-family: 'Roboto Condensed';font-size: 18px;
    
    color: #59595c;
}
.wwFind p {
    font-family: 'Roboto Condensed';font-size: 18px;
    
    color: #59595c;
}
/* p {
    font-family: 'Roboto Condensed';font-size: 18px;
    
    color: #59595c;
} */

hr {
    margin-top: -3px;  
    border-top: 2px solid #5555551c; 
    width: 93%;
}

.modal-content{
    width: 939px;
    margin-left: -187px;

}

pala {
align-items: center;
display:flex;
align-items: center;
height: 50px;
background-color: #f7981d;  
grid-column: span 12;
color: #fff;
font-family: 'Roboto Condensed';font-size: 18px;
font-weight: bold;
}



.modal-title{
font-family: 'Roboto Condensed';font-size: 18px;
font-weight: bold;
color: #f7981d;
text-align: center;
}

.wrapper3{
    display: grid;
    grid-template-columns: 10% 90%;
    grid-gap: 0px;
    grid-auto-rows: minmax(100px,auto);
    /* justify-items:sceth ; dari kiri tengah kanan
    align-items:sceth ; dari atas tengah bawah*/ 
}
.wrapper3 > div{
    background: transparent;
    padding: 1em;
}
.wrapper3 > div:nth-child(odd){
    background:transparent;
}
.profileName{
    /* align self untuk styling per masing2 berbeda2 */
    justify-self: start;
    font-family: 'Roboto Condensed';font-size: 18px;
    font-weight: bold;
    color: #59595c;
}
.profileData{
    /* align-self: end; */
    justify-self: start;
    font-family: 'Roboto Condensed';font-size: 18px;
    
    color: #59595c;
}

.wrapper3 p {
    margin: 0 0 3px;
    font-size: small;

}

.column {
    display:grid;
    float: left;
    width: 50%;
    padding: 10px;
    grid-auto-rows: minmax(100px,auto);

    /* Should be removed. Only for demonstration */
}
.wrapper2Box{
    display: grid;
    grid-template-columns: 50% 50%;
    /* grid-column-gap: 1em;
    grid-row-gap: 1em; 
        //same as bellow
     */
    grid-gap: 3px;
}
.classTitle{
    background: #f2f2f2;
    text-align:center;
    border-radius: 5px;
    height: 480px;
    overflow-y: scroll;
}
.classTitle p {
    font-size: 18px;
}
.dropdownCase{
    display:grid;
    grid-template-columns:100%;
    grid-auto-rows:minmax(70px, auto) ;
    grid-gap: 3px;
    padding:1em;
}

.dropdownCase > div {
    border: #eee 1px solid;
    /* background:#ffffff; */
    padding:1em;
    border-radius: 5px;
    font-family: 'Roboto Condensed';font-size: 11px;
    font-weight: medium;
    text-align:left;
}
.boxCase p {
        margin: 0 0 3px;
        font-size: 11px;

}
/* new one dorpdowncase */
.dropdownCaseMultiple{
    display:grid;
    grid-template-columns:100%;
    grid-auto-rows:minmax(70px, auto) ;
    grid-gap: 3px;
    padding:1em;
}

.dropdownCaseMultiple > div {
    border: #eee 1px solid;
    /* background:#ffffff; */
    padding:1em;
    border-radius: 5px;
    font-family: 'Roboto Condensed';font-size: 11px;
    font-weight: medium;
    text-align:left;
}
.boxCaseMultiple p {
        margin: 0 0 3px;
        font-size: 11px;

}








.wrapperCalledBy{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 1em; 
    align-items:end;
    margin-top: 10px;

    
}
.wrapperCalledBy p{
    text-align:center;
    color:#aeaeae;
   font-size: 11px;
    margin: 0 0 0px;
  }
  