.add-campaign {
    padding-top: 21px;
    padding-right: 25px;
    padding-bottom: 15px;
    height: 56px;
    /* background-color: #fff; */
    /* width: 20%; */
    /* float: right; */
}
.add-campaign-btn {
    color:#1594b9;
    font-size:18px;
    margin-bottom:0px;
    line-height:16px;
}

.add-campaign-btn:hover {
    cursor: pointer;
}

.dropdown-icon- {
    width: 17.1px;
    height: 14px;
    float: right;
    margin-top: 2px;
    padding:5px;
}

.dropdown-icon-:hover {
    cursor: pointer;
}

.header-table {
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    color: #59595c;
    font-weight: 500;
}

#toggle-btn:hover {
    cursor: pointer;
}

.modal-campaign {
    
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
    padding-top: 100px;
    /* transition: all 2s; */
}

.modal-campaign_content {
    height: auto;
    background-color: white;
    width: 800px;
    margin: auto;
    vertical-align: middle;
    box-shadow: 0px 0px 20px gray;
    padding: 11px 20px 10px 20px;
}

.campaign-style {
    color: #aeaeae;
    font-family: 'Roboto';
    font-size: 12px;
    margin-bottom: 0px;
    display:block;
}

.input-campaign-style {
    background-color: #f2f2f2;
    padding: 6px 0px 5px 10px;
    border: none;
    border-radius: 5px;
}

input.input-campaign-style {
    height: 22px;
    color: #59595c;
    font-family: 'Roboto';
    font-size: 12px;
    margin-bottom: 5px;
}

input.input-campaign-style::placeholder {
    color: #aeaeae;
}

select.input-campaign-style {
    height: 22px;
    color: #59595c;
    font-family: 'Roboto';
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 2px;
    padding-top: 3px;
}

.btn-campaign-submit-modal {
    width: 100px;
    height: 22px;
    background-color: #1594b9;
    color: #fff;
    /* border: none; */
    border-color: aliceblue;
    font-size: 14px;
    font-family: 'Roboto';
    border-radius: 5px;
    box-shadow: 0px 4px 10px grey;
    /* clear: both; */
}

.close-modal {
    /* position: absolute; */
    float: right;
    width: 15px;
    height: 15px;
}

.close-modal:hover {
    cursor: pointer;
}

.toggle-icon {
    width:26px;
    height:12px;
    margin-right:14px;
    cursor: pointer;
}

.add-icon:hover {
    cursor: pointer;
}

.box-step1 {
    padding: 5px 2px 10px 10px;
    background-color: #59595c;
    width: 220px;
    height: 104px;
    display:inline-block;
    margin-right:15px;
    margin-bottom: 7px;
    border-radius: 5px;
}

.box-step2 {
    padding: 5px 2px 10px 10px;
    background-color: #59595c;
    width: 220px;
    height: 104px;
    display:inline-block;
    margin-right:15px;
    margin-bottom: 7px;
    border-radius: 5px;
}

.box-step3 {
    padding: 5px 2px 10px 10px;
    background-color: #59595c;
    width: 220px;
    height: 104px;
    display:inline-block;
    margin-right:15px;
    margin-bottom: 7px;
    border-radius: 5px;
}

.select-step {
    padding-left:5px;
    width:200px;
}

.delay-day {
    width:35px;
    display:inline-block;
    margin-right:5px;
    padding-left:5px;
}

.add_icon {
    width:13px;
    height:13px;
    margin-left:10px;
    /* margin-top: -140px; */
}

.delay-label {
    color:#ffffff;
    display:inline-block;
    margin-right:20px;
}

.tag-select {
    width:290px;
}

.textarea-step {
    width:200px;
    font-size: 12px;
}

.btn-submit_ {
    /* margin-top:85px; */
}