.main-container {
    font-family: 'Roboto';
}

.header-container {
    height: 75px;
    background-color: #f2f2f2;
    /* position: fixed;
    top: 0; */
    width:100%;
}

.header-left {
    float: left;
    margin-left: 25px;
    margin-top: 20px;
}

.header-right {
    float: right;
    display: inline-block;
    width: 218px;
    height: 54px;
    padding: 13px 24px 5px 8px;
    border-bottom: 1px solid #979797;
    vertical-align: middle;
}

.logo-kioson {
    width: 87px;
    height: 22px;
}

.small-text {
    width: 100%;
    margin-top: 5px;
    font-size: 12px;
    color: #59595c;
}

.logo-account {
    width: 26px;
    height: 26px;
    vertical-align: unset;
}

.dropdown-icon {
    width: 12px; 
    height: 8px; 
    margin-top: -10%
}

.dropdown-icon:hover {
    cursor: pointer;
}

.burger-menu {
    width: 15px;
    padding-bottom: 38px;
    margin-right: 8px;
    margin-left: 5px;
}

.burger-menu:hover {
    cursor: pointer;
}

.account-menu {
    z-index: 1;
    height: auto;
    background-color: #59595c;
    width: 210px;
    right: 1.4%;
    position: absolute;
    margin-top: -22px;
    padding-top: 5px;
    font-size: 12px;
    /* margin-left: 50px; */
}

#logout-menu:hover {
    background-color: #aeaeae;
    cursor: pointer;
}

#dashboard-1:hover {
    background-color: #aeaeae;
    cursor: pointer;
}

#dashboard-2:hover {
    background-color: #aeaeae;
    cursor: pointer;
}

#dashboard-3:hover {
    background-color: #aeaeae;
    cursor: pointer;
}

#dashboard-4:hover {
    background-color: #aeaeae;
    cursor: pointer;
}

.header-right {
    cursor: pointer;
}