.wrapper {
    width: 240px;
    margin: auto;
    margin-top: 174px;
}

.input-form {
    width: 100%;
    height: 32px;
    margin-bottom: 10px;
    border-color: transparent
}

.label-form {
    font-family: 'Roboto';
    font-size: 14px;
    color: #aeaeae;
    margin-bottom: 10px;
}

.img-logo {
    width: 87px;
    height: 22px;
}

.border {
    height: 0.5px;
    background-color: #26000000
}

.submit-button {
    background-color: #1594b9;
    float: right;
    border-radius: 5px;
    width: 100px;
    height: 32px;
    color: #ffffff;
}

.visible-icon {
    position: absolute;
    margin-left: 220px;
    margin-top: -40px;
}

.visible-icon:hover {
    cursor: pointer;
}