.sidebar-container {
    width: 300px;
    background-color: #f2f2f2;
    padding-top: 21px; 
    padding-left: 30px;
    height: 100%;
    /* display:inline-block */
    float: left;
    box-shadow: 0px 0px 20px gray;
}

.modal-sidebar {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
}