.add-campaign {
    padding-top: 21px;
    padding-right: 25px;
    padding-bottom: 15px;
    height: 56px;
    /* background-color: #fff; */
    /* width: 20%; */
    /* float: right; */
}
.add-campaign-btn {
    color:#1594b9;
    font-size:18px;
    margin-bottom:0px;
    line-height:16px;
}

.add-campaign-btn:hover {
    cursor: pointer;
}

.dropdown-icon- {
    width: 17.1px;
    height: 14px;
    float: right;
    margin-top: 2px;
    padding:5px;
}

.dropdown-icon-:hover {
    cursor: pointer;
}

.header-table {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #59595c;
    font-weight: 500;
}

#delete-btn:hover {
    cursor: pointer;
}

.modal-tags {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
    padding-top: 100px;
}

.modal-tags-view {
    
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
    padding-top: 100px;
}

.modal-tags_content {
    height: auto;
    background-color: white;
    width: 490px;
    margin: auto;
    vertical-align: middle;
    box-shadow: 0px 0px 20px gray;
    padding: 11px 20px 10px 20px;
}

.tag-style {
    color: #aeaeae;
    font-family: 'Roboto';
    font-size: 12px;
    margin-bottom: 0px;
}

.input-tag-style {
    background-color: #f2f2f2;
    padding: 6px 0px 5px 10px;
    width: 450px;
    border: none;
    border-radius: 5px;
}

input.input-tag-style {
    height: 22px;
    color: #59595c;
    font-family: 'Roboto';
    font-size: 12px;
    margin-bottom: 5px;
}

input.input-tag-style::placeholder {
    color: #aeaeae;
}

textarea.input-tag-style::placeholder {
    color: #aeaeae;
}

textarea.input-tag-style {
    height: 78px;
    color: #59595c;
    font-family: 'Roboto';
    font-size: 12px;
}

.btn-submit-modal {
    width: 100px;
    height: 22px;
    background-color: #aeaeae;
    color: #fff;
    border: none;
    font-size: 14px;
    font-family: 'Roboto';
    border-radius: 5px;
}

.close-modal {
    /* position: absolute; */
    float: right;
    width: 15px;
    height: 15px;
}

.close-modal:hover {
    cursor: pointer;
}